<h1>Nuggets</h1>

<table border="1">
		<tr>
			<td>Name</td>
			<td>Description</td>
			<td>Tags</td>
			<td>Marked for Review?</td>
		</tr>
	<% for nugget in @nuggets %>
		<tr>
			<td> <%= nugget.name %> </td>
			<td> <%= nugget.description %> </td>
			<td> <%= nugget.tags %> </td>
			<td> <%= nugget.markForReview %> </td>
			<td> <%= link_to 'Edit', edit_nugget_path(nugget) %> </td>		
			<td> <%= link_to 'Delete', nugget, :method => 'delete' %> </td>		
		</tr>
	<% end %>
</table>

<h2>Add New Nugget</h2>

<%= render 'form' %>